# https://supabase.com/dashboard/organizations
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_NAME=postgres
DB_USERNAME=postgres.******
DB_PASSWORD=******
# https://aistudio.google.com/apikey
GEMINI_API_KEY=AQ.******
# https://supabase.com/dashboard/organizations
SUPABASE_STORAGE_ENDPOINT=https://******.storage.supabase.co/storage/v1/s3
SUPABASE_STORAGE_REGION=ap-northeast-2
SUPABASE_STORAGE_ACCESS_KEY=******
SUPABASE_STORAGE_SECRET_KEY=************