# https://supabase.com/dashboard/organizations
DB_HOST=
DB_NAME=postgres
DB_USERNAME=postgres.******
DB_PASSWORD=******
# https://aistudio.google.com/apikey
GEMINI_API_KEY=******
# https://supabase.com/dashboard/organizations
SUPABASE_STORAGE_ENDPOINT=
SUPABASE_STORAGE_REGION=ap-northeast-2
SUPABASE_STORAGE_ACCESS_KEY=******
SUPABASE_STORAGE_SECRET_KEY=************